div.row
    div.col-sm-12.has-background-black.has-text-white.d-flex.align-items-center.justify-content-center
        div.d-flex.align-items-center
            img.avatar(src="img/avatar.svg" alt="Avatar")
        div.d-flex.flex-column.justify-content-center
            h1.animate= message
            h2.animate by #{author}
            h1.including.has-text-danger including:
div.row.second
    div.col-sm-6.has-background-warning.d-flex.align-items-center.justify-content-center.flex-column
        h2 Scripts
        ul
            li jQuery v3.1.0
            li
                a(href="https://greensock.com/gsap" target="_blank") GSAP (TweenMax, TweenLite, TimelineLite, TimelineLite)

    div.col-sm-6.has-background-light.d-flex.align-items-center.justify-content-center.flex-column
        h2 Styles
        ul
            li
                a(href="https://github.com/m-spyratos/bootstrap-4-grid" target="_blank") Bootstrap 4 Grid System
            li Color Variables